@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Karla:ital@1&family=Kumbh+Sans&family=Overpass&family=Poppins:wght@500&family=Raleway&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;1,8..144,200;1,8..144,300&family=Space+Mono:wght@400;700&display=swap');


:root {
  --brand: 172 67% 45%;
  --error: 12 67% 55%;
  --dark: 183 100% 5%;
  --text: 183 100% 15%;
  --neutral1: 186 14% 43%;
  --neutral2: 184 14% 56%;
  --neutral3: 185 41% 84%;
  --neutral4: 189 41% 97%;
  --white: 179 41% 99%;

 
  --spacer: clamp(2rem, 4vw, 3.5rem);
  --spacer-lg: clamp(4rem, 7vw, 6.5rem);
  --rounded-md: .4rem;
  --rounded-sm: .2rem;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
font-size: 24px;
font-family: 'Space Mono';
background-color: hsl(185, 41%, 84%);
height: 100vh;
margin: 0 auto;
width: 50%;
}

.wrapper{
  display: grid;
  place-items: center;
  gap: 4rem;
  }
  .wrapperr{
    display: grid;
    place-items: center;
    gap: 4rem;
    }

.container {
  display: grid;
  background: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: hsl(185, 41%, 84%);
  
}
.form{
  
display: grid;
gap: var(--spacer);
}
.display{
  display: grid;
background: hsl(183, 100%, 15%);
padding: 1rem;
border-radius: 1.2rem;
margin-bottom: 5rem;
height: 100%;
}


.display-grp {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.header{
  color: hsl(0, 0%, 100%);
  font-size: 15px;
}
.unit {
  color: hsl(185, 41%, 84%);
  font-size: 10px;
}
.btn {
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
background: hsl(172, 67%, 45%);
text-transform: uppercase;
font: inherit;
border-radius: 0.4em;
width: 13rem;
color: hsl(186, 14%, 43%);
margin-top: 5em;
font-size: 15px;
transition: transform 0.3s;
text-align: center;
place-items: center;
justify-content: center;
}
.btn:hover {
  transform: scale(1.1); 
}
.btn [disabled] {
  opacity: .4;
}
.value{
 color: hsl(172, 67%, 45%);
 font-weight: 700;
}
.label {
  
  color: hsl(var(--text));
  font-size: 1rem;
  
}
.label-group {
  display: grid;
  
  gap: .2rem;
  
  text-align: left;
  padding-bottom: 8px;
}
[type="number"] {
  
  font: inherit;
  text-align: right;
  background-color: black;
  border: none;
  border-radius: 8px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.icon {
position: absolute;
top: 1rem;
left: 0.5rem;
transform: translateY(-50%);
pointer-events: none;
}
.number-wrapper{
  position: relative;
}
.label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.error {
  color: red;
  font-size: 13px;
  font-weight: 700;
 
}
.number-input {
  width: 100%;
  font: inherit;
  font-weight: 400;
  text-align: right;
  border: 1px solid red;
  
  background-color: hsl(189, 41%, 97%);
  border: none;
  padding: .2rem .5rem;
  border-radius: var(--rounded-sm);
  box-shadow:
    0 0 0 -.2rem hsl(var(--text)),
    0 0 0 -.2rem hsl(var(--neutral1));
  transition: box-shadow 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.number-input:focus {
  outline: none;
  box-shadow:  0 0 0 .2rem hsl(var(--white)), 0 0 0 .4rem hsl(var(--text));
}
.tip-section {
  display: grid;
  justify-items: start;
  gap: .5rem;
}
 .tip-custom  {
  font: inherit;
  align-items: center;
 }
.tip-amount-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
}

.tip-amount {
  position: relative;
}

[name="tip"] {
  opacity: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

[name="tip"]:hover+.tip-btn {
  background-color: hsl(185, 88%, 75%);
  color: hsl(var(--text));
}

[name="tip"]:checked+.tip-btn {
  background-color: hsl(172, 67%, 45%);
}

.tip-btn {
  background-color: hsl(183, 100%, 15%);
  text-align: center;
  border-radius: 8px;
  padding: .2rem;
}

@media only screen and (min-width: 768px) {
  .container {
    grid-auto-flow: column;
    justify-content: space-between;
  }
  .form {
    padding-right: 10px;
  }
  .tip-amount-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .display {
    grid-row: 1;
    height: 100%;
  }
}

.log{
  margin: 2em;
}