@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&family=Karla:ital@1&family=Kumbh+Sans&family=Overpass&family=Poppins:wght@500&family=Raleway&family=Roboto+Serif:ital,opsz,wght@0,8..144,300;1,8..144,200;1,8..144,300&family=Space+Mono:wght@400;700&display=swap');
</style>


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
font-size: 24px;
font-family: 'Space Mono';
}

:root {

}
